* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #a6e22e;
    background-color: #272822;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    padding: 10px;
    margin: 32px auto;
    @media (max-width: 1024px) {
        width: 90%;
        padding: 5px;
    }
}

main div {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

main div h1 {
    width: 100%;
    padding-bottom: 10px;
    font-size: 18px;
}

main div div {
    display: flex;
    gap: 10px;
}

/* Classes para componentes */
.badge {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.badge-active {
    background-color: #709d15;
}

.badge-offline {
    background-color: #43453b; /* Rojo para estado offline */
}
